{% extends "base.html" %}

{% block content %}
    <h1>Rock, Paper, Scissors!</h1>

    <form class="form-inline" action="/results" method="post">
      <label for="name">Player Name</label>
      <input type="text" name="name" id="name">

      <label for="game">Player choice:</label>
        <select name="game" id="game">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissirs</option>
      </select>
      <input type="submit" value="result">
    </form> <!-- ADDED -->
    <div class="player-container">
    {% for player in Player %}
    <div class="player">
      <h2>{{ player.player_name }}</h2>
      <h3>{{ player.player_choice }}</h3>
    </div>
    {% endfor %}
    </div>
{% endblock %}
